# PPI1-Molla

In [1]:
import numpy as np
import pandas as pd

from lab import *

## 1 - $m$

In [2]:
m = pd.read_csv("Data/Massa.csv")
m

      m4     m6     m8    m10
0  317.7  475.5  630.4  788.1
1  317.6  475.5  630.4  787.9
2  317.7  475.4  630.4  788.2
3  317.8  475.6  630.4  788.3
4  317.7  475.5  630.3  788.2
5  317.7  475.2  630.4  788.3
6  317.6  475.4  630.4  788.1
7  317.8  475.5  630.3  788.2
8  317.8  475.3  630.3  788.3
9  317.7  475.4  630.1  788.3

In [3]:
# Media
mu_m = m.mean()
mu_m

m4     317.71
m6     475.43
m8     630.34
m10    788.19
dtype: float64

In [4]:
# Deviazione standard campionaria
sigma_m = m.std(ddof=1)
sigma_m

m4     0.073786
m6     0.115950
m8     0.096609
m10    0.128668
dtype: float64

## 2 - $X_{eq}$

In [5]:
Xeq = pd.read_csv("Data/Xeq.csv")
Xeq

   Xeq4  Xeq6  Xeq8  Xeq10
0  13.0  16.3  19.6   23.0
1  12.9  16.2  19.6   23.0
2  12.9  16.3  19.5   23.1
3  12.9  16.3  19.6   23.0
4  13.0  16.2  19.6   23.0
5  12.9  16.3  19.6   23.0
6  12.9  16.3  19.6   23.1
7  12.9  16.3  19.6   23.0
8  12.9  16.3  19.6   23.0
9  12.9  16.2  19.6   23.0

In [6]:
# Media
mu_Xeq = Xeq.mean()
mu_Xeq

Xeq4     12.92
Xeq6     16.27
Xeq8     19.59
Xeq10    23.02
dtype: float64

In [7]:
# Deviazione standard campionaria
sigma_Xeq = Xeq.std(ddof=1)
sigma_Xeq

Xeq4     0.042164
Xeq6     0.048305
Xeq8     0.031623
Xeq10    0.042164
dtype: float64

## 3 - $T_{5osc}$

In [8]:
T5 = pd.read_csv("Data/Periodo.csv")
T5

     T4    T6    T8   T10
0  2.81  3.51  3.90  4.40
1  2.91  3.44  3.89  4.40
2  2.76  3.39  3.95  4.34
3  2.81  3.38  3.83  4.32
4  2.76  3.44  3.91  4.27
5  2.91  3.40  3.81  4.34
6  2.82  3.51  3.84  4.32
7  2.75  3.41  3.90  4.37
8  2.81  3.32  3.84  4.25
9  2.82  3.34  3.88  4.35

In [9]:
# Media
mu_T5 = T5.mean()
mu_T5

T4     2.816
T6     3.414
T8     3.875
T10    4.336
dtype: float64

In [10]:
# Deviazione standard campionaria
sigma_T5 = T5.std(ddof=1)
sigma_T5

T4     0.056214
T6     0.063281
T8     0.043525
T10    0.049261
dtype: float64